body {
    font-family: 'Raleway', sans-serif;
  } 

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#logo img {
    width: 70px;
}

#menu {
    display: inline-block;
    
}
nav ul {
    list-style-type: none;
    display: flex;
}
nav li
{
    margin-right: 30px;
}
nav a
{
    font-size: 13px;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;
}
nav a:hover
{
    border-top: 1px solid #0065FC;
}



#recherche {
    width: 90%; /* Largeur de la section*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
}


#contenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #444;
    width: 90%; /* Largeur de la section*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
    border-radius: 10px;
}

.element {
    background-color: rgb(184, 154, 98);
    border-radius: 5px;
    width: 65%;
    margin: 5px;
    margin-right: 20px;
}
.element:nth-child(2) {
    background-color: rgb(184, 118, 118);
    border-radius: 5px;
    width: 25%;
    margin: 5px;
}






header, footer {
    background-color: grey;
    clear: both;
    display: flex;
    width: 90%; /* Largeur de la section*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
}