h4, p {
    font-family: 'Raleway', sans-serif;
  } 

header {
    
}

nav {
    float: right;
}




#contenair {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    width: 50%; /* Largeur de la sectoin*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
    border-radius: 10px;
}
#contenair2 {
    display: flex;
    flex-direction: column;
    border: 2px solid #444;
    width: 40%; /* Largeur de la sectoin*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
    border-radius: 10px;
}
#contenair3 {
    display: flex;
    width: 90%; /* Largeur de la sectoin*/
    padding: 10px; /* Marge interieur */
    margin: 20px; /* Marge exterieur */
    border-radius: 10px;
}

.hebergement {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.populaire {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.activites {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}




.bloc {
    justify-content: center;
    background-color: orange;
    border-radius: 5px;
    width: 200px;
}
.bloc1 {
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    width: 200px;
}
.bloc2 {
    justify-content: center;
    background-color: blue;
    border-radius: 5px;
    width: 200px;
}






header, footer {
    background-color: grey;
    clear: both;
}