body {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

p {
  font-size: 12px;
}
/* ---------HEADER--------- */
#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 90px;
}
.nav {
  display: flex;
  flex-direction: row;
}
.menuAncre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menuAncre .liensMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
.menuAncre a {
  text-decoration: none;
  color: black;
  width: 8em;
  text-align: center;
}
.menuAncre a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
.sinscrire {
  display: flex;
  flex-wrap: wrap;
}
.sinscrire a {
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
  width: 8em;
  text-align: center;
  border-top: none;
}

/* ---------RECHERCHE & FILTRES--------- */
#searchSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.titleSearch {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.titleSearch p {
  font-size: 15px;
  font-weight: bold;
}
.titleSection {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  margin-left: 20px;
}
.titleSection p {
  font-size: 16px;
  font-weight: bold;
}
.titleSection i {
  color: black;
}
.barSearch {
  margin-bottom: 20px;
  display: flex;
  height: 35px;
}
.barSearch i {
  color: black;
}
.barSearch input {
  border-left: none;
  border-right: none;
  border-top: 0.5px solid #f2f2f2;
  border-bottom: 0.5px solid #f2f2f2;
  width: 150px;
  outline: none;
}
.barSearch button {
  color: white;
  background-color: #0065fc;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}
.map {
  width: 40px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.fleche {
  display: flex;
  align-items: center;
}
#filterSection {
  display: flex;
  flex-wrap: wrap;
}
#filterSection p {
  font-weight: bold;
  margin-left: 5px;
}
#filterSection i {
  background-color: #deebff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
#filterSection a {
  color: black;
  text-decoration: none;
}
#filterSection a:hover {
  color: #0065fc;
  text-decoration: none;
}
.filtresText {
  height: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.typeFiltre {
  display: flex;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  width: 160px;
  margin: 0px 20px 10px 0px;
  height: 40px;
}
.info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.info p {
  margin-left: 4px;
}
/* ---------MAIN--------- */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  /* ---------HEBERGEMENTS--------- */
}
#hebergSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 70%;
}
.titleSection i {
  margin-left: 50px;
}
.blocs6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.blocs6 a {
  color: black;
  text-decoration: none;
}
.hotelHeberg {
  background-color: white;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 6px rgb(214, 214, 214);
}
.imgHeberg {
  width: 100%;
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.titreHeberg {
  width: 100%;
  margin-left: 5px;
}
.titreActivity {
  margin-left: 5px;
}
.titreHeberg p {
  font-weight: bold;
}
.tarifHeberg {
  width: 100%;
  margin-left: 5px;
}
.etoileHeberg {
  width: 100%;
  display: flex;
  margin-left: 5px;
  margin-bottom: 8px;
  align-self: flex-end;
}
.fas {
  color: #0065fc;
  font-size: 12px;
}
.far {
  color: #f2f2f2;
  font-size: 12px;
}
.affPlus {
  width: 100%;
  margin-left: 15px;
}
/* ---------POPULAIRES--------- */
#popularSection {
  flex-direction: column;
  width: 25%;
  background-color: #f2f2f2;
  border-radius: 20px;
}
.blocs3 {
  display: flex;
  flex-direction: column;
}
.blocs3 a {
  color: black;
  text-decoration: none;
}
.hotelPopular {
  background-color: white;
  display: flex;
  width: 90%;
  height: 150px;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 10px 6px rgb(214, 214, 214);
}
.blocimgPopular {
  padding: 3px 3px 3px 3px;
  width: 50%;
}
.imgPopular {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.infoPopular {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 60%;
}
/* ---------ACTIVITES--------- */
#activitySection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.blocs6Activity {
  display: flex;
}
.blocs3Activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}
.bigblocActivity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 10px 6px rgb(214, 214, 214);
}
.bigblocActivity img {
  width: 250px;
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bigblocActivity2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.petiteImg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 10px 6px rgb(214, 214, 214);
}
.petiteImg img {
  width: 250px;
  height: 140px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* ---------FOOTER--------- */
#footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 20px;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33%;
  padding: 0px 0px 10px 0px;
}
.footer p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: bold;
  margin: 15px 0px 0px 30px;
}
.footer a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  font-size: 10px;
  margin: 10px 0px 0px 30px;
}
/* ---------MEDIA QUIERIES TABLETTE--------- */
@media all and (min-device-width: 469px) and (max-device-width: 768px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .logo {
    position: absolute;
    margin-left: 15px;
  }
  .nav {
    flex-direction: column-reverse;
    width: 100%;
  }
  .menuAncre a {
    width: 100%;
  }
  .menuAncre a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .sinscrire {
    justify-content: flex-end;
  }
  #searchSection {
    margin: 0px 15px 0px 15px;
  }
  #filterSection {
    flex-direction: column;
  }
  main {
    justify-content: space-around;
  }
  #hebergSection {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }
  #popularSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }

  #activitySection {
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  .blocs6Activity div {
    margin-bottom: 20px;
  }
}
/* ---------MEDIA QUIERIES PHONE--------- */
@media all and (max-device-width: 468px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .logo {
    position: absolute;
    margin-left: 10px;
  }
  .nav {
    flex-direction: column-reverse;
    width: 100%;
  }
  .menuAncre {
    padding: 0px;
  }
  .menuAncre .liensMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .menuAncre a {
    width: 100%;
  }
  .menuAncre a:hover {
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }
  .sinscrire {
    justify-content: flex-end;
  }
  #searchSection {
    padding: 0px 15px 0px 15px;
  }
  #filterSection {
    flex-direction: column;
  }
  main {
    flex-direction: column-reverse;
  }
  #hebergSection {
    width: 100%;
    background-color: white;
  }
  .titleSection {
    justify-content: space-between;
  }
  .hotelHeberg {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  #popularSection {
    width: 100%;
    border-radius: 0px;
  }
  .blocs3 {
    display: flex;
    justify-content: space-around;
  }
  .hotelPopular {
    width: 90%;
  }
  .blocs6Activity {
    flex-direction: column;
  }
  .blocs6Activity div {
    margin-bottom: 20px;
  }
  .blocs3Activity {
    width: 95%;
    padding-left: 10px;
  }
  .bigblocActivity {
    border-radius: 10px;
  }
  .bigblocActivity img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .petiteImg {
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .petiteImg img {
    width: 100%;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #footer {
    flex-direction: column;
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
